docs
example/.htaccess
.DS_Store
._*
.idea
.ndproj/Data
.ndproj/Menu.txt
node_modules
bower_components
candy.bundle.*
candy.min.*
libs.bundle.*
libs.min.*
.vagrant
*.log
lcov.info
candy.zip
github-credentials.json
